src/wsdl/localhost_8080/Projekt/AccountAccess.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.projekt.bg.tjee.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://model.projekt.bg.tjee.pl/" name="AccountAccess">
<types>
<xsd:schema>
<xsd:import namespace="http://model.projekt.bg.tjee.pl/" schemaLocation="http://localhost:8080/Projekt/AccountAccess?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validateSession">
<part name="parameters" element="tns:validateSession"/>
</message>
<message name="validateSessionResponse">
<part name="parameters" element="tns:validateSessionResponse"/>
</message>
<portType name="AccountAccess">
<operation name="register">
<input wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/registerRequest" message="tns:register"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/loginRequest" message="tns:login"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/helloRequest" message="tns:hello"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validateSession">
<input wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/validateSessionRequest" message="tns:validateSession"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/AccountAccess/validateSessionResponse" message="tns:validateSessionResponse"/>
</operation>
</portType>
<binding name="AccountAccessPortBinding" type="tns:AccountAccess">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountAccess">
<port name="AccountAccessPort" binding="tns:AccountAccessPortBinding">
<soap:address location="http://localhost:8080/Projekt/AccountAccess"/>
</port>
</service>
</definitions>