src/wsdl/localhost_8080/Projekt/FileAccess.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.projekt.bg.tjee.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://model.projekt.bg.tjee.pl/" name="FileAccess">
<types>
<xsd:schema>
<xsd:import namespace="http://model.projekt.bg.tjee.pl/" schemaLocation="http://localhost:8080/Projekt/FileAccess?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="upload">
<part name="parameters" element="tns:upload"/>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getFileList">
<part name="parameters" element="tns:getFileList"/>
</message>
<message name="getFileListResponse">
<part name="parameters" element="tns:getFileListResponse"/>
</message>
<message name="download">
<part name="parameters" element="tns:download"/>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"/>
</message>
<portType name="FileAccess">
<operation name="delete">
<input wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="upload">
<input wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/uploadRequest" message="tns:upload"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/uploadResponse" message="tns:uploadResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/helloRequest" message="tns:hello"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getFileList">
<input wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/getFileListRequest" message="tns:getFileList"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/getFileListResponse" message="tns:getFileListResponse"/>
</operation>
<operation name="download">
<input wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/downloadRequest" message="tns:download"/>
<output wsam:Action="http://model.projekt.bg.tjee.pl/FileAccess/downloadResponse" message="tns:downloadResponse"/>
</operation>
</portType>
<binding name="FileAccessPortBinding" type="tns:FileAccess">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FileAccess">
<port name="FileAccessPort" binding="tns:FileAccessPortBinding">
<soap:address location="http://localhost:8080/Projekt/FileAccess"/>
</port>
</service>
</definitions>